@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
@font-face {
  font-family: "Archivo SemiExpanded";
  src: url("/public/Archivo Expanded Bold.ttf");
  font-weight: 700;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply leading-[normal] m-0;
}
*,
::before,
::after {
  border-width: 0;
}
